@tailwind base;
@tailwind components;
@tailwind utilities;

/* Agrega tus clases de animación */
@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

#rotatingDiv {
  animation: flip 0.5s ease; /* Cambia la duración y el valor "infinite" según tus preferencias */
}
